# Binaries for programs and pluginss
*.exe
*.exe~
*.dll
*.so
*.dylib

# Graph images
*.gv
*gv.svg

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# binary produced by go build
/addon-operator

.idea
libjq
